@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

header .wrapper{
  width: 97%;
  padding: 13px 0 12px;
  display: flex;
  justify-content: space-between;
}

nav{ width: 80%; }

.nav-list{
  margin: 6px 1.95% 0 0;
  display: flex;
  justify-content: center;
}

.nav-list li{
  margin: 0 0.7% 0 1.97%;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2px;
}

.nav-list a{ color: #3c3b3b; } 
.nav-list .active-nav-item{ color: #F17140; }

.header-social-icons{
  width: 3.9%;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  transform: translateX(-9%);
}

.header-social-icons a {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  padding: 0 20%;
}

.header-social-icons a::after {
  position: absolute;
  right: 0;
  color: #F17140;
  font: 11px "FontAwesome";
  text-indent: 0;
}

.facebook::after{ content: "\f082"; }
.twitter::after{ content: "\f099"; }
.instagram::after{ content: "\f16d"; }
.linkedin::after { content: "\f0e1";}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  index banner styling starts here
=================================*/

.banner .wrapper{ 
  width: 100%; 
  overflow: hidden;
  position: relative;
}

.slider{  display: flex; }
.slider-transition{transition: all .5s ease-in-out ;}

.slide{
  min-width: 100%;
  position: relative;
}

.slide-content{
  box-sizing: border-box;
  width: 50%;
  padding: 15.5px 1.1%;
  position: absolute;
  top: 282px;
  left: 50%;
  background-color: #f17140;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.slide-content span{ text-transform: uppercase; }

.slide a{
  padding: 6.5px 1.6% 10.5px 1.1%;
  position: absolute;
  top: 359px;
  left: 50%;
  background-color: #ffffff;
  color: #f17140;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.slide a::after{
  content: "\f105";
  position: relative;
  top: 1px;
  right: -10%;
  font: 13px "FontAwesome";
}

.slider-controls{
  width: 100%;
  position: absolute;
  top: 206px;
  left: 0;
}

.slider-controls a{
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}

.slider-controls a::after {
  position: absolute;
  color: #dfe7f0;
  font: 14px "FontAwesome";
  text-indent: 0;
}

.previous-slider-btn::after{ 
  content: "\f053"; 
  left:  7vw;
}

.next-slider-btn::after{ 
  content: "\f054";
  left: 91vw;
}

/*=================================
  index banner ends here
=================================*/






/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  