@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: Arial;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 58.3%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

header .wrapper{
  width: 97%;
  padding: 13px 0 12px;
  display: flex;
  justify-content: space-between;
}

nav{ width: 80%; }

.nav-list{
  margin: 6px 1.95% 0 0;
  display: flex;
  justify-content: center;
}

.nav-list li{
  margin: 0 0.7% 0 1.97%;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2px;
}

.nav-list a{ 
  color: #3c3b3b; 
  transition: color .15s ease-in-out;
} 

.nav-list .active-nav-item{ color: #eb6137; }

.header-social-icons{
  width: 3.9%;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  transform: translateX(-9%);
}

.header-social-icons a {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  padding: 0 20%;
}

.header-social-icons a::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  font: 11px "FontAwesome";
  text-indent: 0;
  transition: color .15s ease-in-out;
}

.facebook::after{ content: "\f082"; }
.twitter::after{ content: "\f099"; }
.instagram::after{ content: "\f16d"; }
.linkedin::after { content: "\f0e1";}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here for index
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner .wrapper{ 
  width: 100%; 
  overflow: hidden;
  position: relative;
}

.slider{  display: flex; }
.slider-transition{transition: all .5s ease-in-out ;}

.slide{
  min-width: 100%;
  position: relative;
}

.slide-content{
  box-sizing: border-box;
  width: 50%;
  padding: 15.5px 1.1%;
  position: absolute;
  top: 282px;
  left: 50%;
  background-color: #eb6137;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.slide-content span{ text-transform: uppercase; }

.slide a{
  padding: 6.5px 1.6% 10.5px 1.1%;
  position: absolute;
  top: 359px;
  left: 50%;
  background-color: #ffffff;
  color: #eb6137;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3px;
  transition: all .15s ease-in-out;
}

.slide a::after{
  content: "\f105";
  position: relative;
  top: 1px;
  right: -10%;
  font: 13px "FontAwesome";
}

.slider-controls{
  width: 100%;
  position: absolute;
  top: 206px;
  left: 0;
}

.slider-controls a{
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  transition: all .15s ease-in-out;
  color: #dfe7f0;
}

.slider-controls a::after {
  position: absolute;
  font: 14px "FontAwesome";
  text-indent: 0;
}

.previous-slider-btn::after{ 
  content: "\f053"; 
  left:  7vw;
}

.next-slider-btn::after{ 
  content: "\f054";
  left: 91vw;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  help section styling starts here
=================================*/

.help { 
  padding: 0 0 58px;
  text-align: center;
}

.help h2 {
  padding: 21px 0 36px;
  color: #3d3c41;
  font: 600 18px Arial;
  text-transform: uppercase;
}

.help p {
  color: #555555;
  font-size: 12px;
  line-height: 1.82;
}

/*=================================
  help section styling ends here
=================================*/

/*======================================
  services section styling starts here
======================================*/

.services .wrapper { 
  width: 60%;
  text-align: center;
  margin-bottom: 15px;
}

.services h2 {
  padding: 46px 0 53px;
  color: #3d3c41;
  font: 600 18px Arial;
  text-transform: uppercase;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item { 
  flex-basis: 20%; 
  padding: 0 0 13px;
}

.service-item:nth-child(5) figure { margin: 18px 0 17px; }

.service-item span {
  padding: 22px 15%;
  color: #555555;
  display: block;
  font: 600 12px Arial;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.service-item:nth-child(1),
.service-item:nth-child(7) { transform: translateY(-7px); }

.service-item img { width: 52%; }

.service-icon a {
  margin: 35px 0 12px;
  text-indent: -9999px;
  color: #eb6137;
}

.service-icon a::after {
  content: "\f061";
  margin: 0 2% 0 0;
  font-family: FontAwesome;
  font-size: 25px;
  float: right;
  text-indent: 0;
}

/*====================================
  services section styling ends here
====================================*/

/*=======================================
  latest-work section styling starts here
=======================================*/

.latest-work { background: #efefef; }

.latest-work .wrapper {
  width: 100%;
  text-align: center;
}

.latest-work h2 {
  padding: 64px 0 16px;
  color: #3d3c41;
  font: 600 18px Arial;
  text-transform: uppercase;
}

.latest-work a {
  margin: 0 0 25px;
  color: #3d3c41;
  font: 600 11px "Arial Narrow";
  text-transform: uppercase;
}

.portfolio { 
  display: flex;
  position: relative;
}

.portfolio-item {
  width: 25%;
  cursor: pointer;
  opacity: 1;
  transition: all .15s ease-in-out;
}

.portfolio::before,
.portfolio::after{
  content: "";
  width: 100%;
  padding: 9.5px 0;
  position: absolute;
  z-index: 2;
}

.portfolio::before{
  top: 0px;
  background: #efefef;
}

.portfolio::after{
  bottom: 0px;
  background: #eb6137;
}


/*======================================
  latest-work section styling ends here
======================================*/

/*==============================================
  latest-work modal section styling starts here
==============================================*/

.latest-work-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.latest-work-modal::after{
  content: "\f00d";
  position: fixed;
  top: 20px;
  right: 1.5%;
  color: #ffffff;
  font-family: FontAwesome;
  font-size: 28px;
  cursor: pointer;
}

.latest-work-modal figure{
  width: 80%;
  margin: 50% 0 0 50%;
  transform: translate(-50%, -65%);
}

.hide-me{ display: none; }

/*=============================================
  latest-work modal section styling ends here
=============================================*/

/*=======================================
  work with section styling starts here
=======================================*/

.work-with {
  position: relative;
  z-index: 1;
  padding-bottom: 62px;
  background: #eb6137;
  text-align: center;
}

.work-with h2 {
  padding: 46px 0 33px 0;
  color: #ffffff;
  font: 600 18px Arial;
  text-transform: uppercase;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.client { 
  width: 17.8%; 
  margin-bottom: 7px;
}

/*======================================
  work with  section styling ends here
======================================*/

/*=========================================
  affiliations section styling starts here
=========================================*/

.affiliations {
  padding-bottom: 64px;
  background: #f3f3f3;
  text-align: center;
}

.affiliations .wrapper{ width: 58.3%; }

.affiliations h2 {
  padding-top: 65px;
  margin-bottom: 15px;
  color: #3d3c41;
  font: 600 18px Arial;
  text-transform: uppercase;
}

.affiliated-partners {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.affiliated-partner {
  width: 22.95%;
  margin-bottom: 21px;
  transition: all 0.15s ease-in-out;
}

/*========================================
  affiliations  section styling ends here
========================================*/

/*=======================================
  Get in touch section styling starts here
=======================================*/

.get-in-touch {
  padding-bottom: 56px;
  background: #003e59;
  color: #ffffff;
  text-align: center;
}

.get-in-touch h2 {
  padding: 50px 0 31px 0;
  font: 600 22px Arial;
}

form { display: flex; }
.form-groups{ width: 50%; }
.form-groups:last-of-type { margin: 3px 0 0 2.56%;}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
}

textarea,
.form-group input,
#enquiries {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 1.2%;
  margin-bottom: 15px;
  border: none;
  border-right: none;
  background: #ffffff;
}

#enquiries { 
  color: #555555;
  font-size: 12px;
  margin-top: 4px;
  padding: 9px 1.2%;
}

textarea,
.form-group input:focus ,
#enquiries:focus { outline: none; }

.error{ 
  position: absolute;
  top: 2px;
  right: 0.1%;
  color: #ff5555;
  font: 14px "Arial Narrow";
}

textarea{ min-height: 86px; }
.checkbox-group{ flex-direction: row; }
.checkbox-group a{ color: #eb6137; }

.checkbox-group input{ 
  width: 2.5%;
  transform: translate(-4px, -4px);
}

.checkbox-group label{
  display: inline;
  line-height: 18px;
  margin: 0;
}

.form-groups p {
  margin: 9px 1% 10px;
  font-size: 12px;
  line-height: 1.4;
  text-align: left;
}

.form-control:last-of-type {
  width: 100%;
  display: inline-block;
}

 #submit {
  margin: 13px 3.8% 0 0;
  padding: 11px 5.2%;
  border: 1px solid transparent;
  background: #eb6137;
  color: #ffffff;
  font: 600 11px Arial;
  right: 2%;
  float: right;
  transition: all .15s ease-in-out;
} 

.form-sumit-modal{
  box-sizing: border-box;
  width: 50%;
  padding: 40px 5%;
  margin: 50% 0 0 50%;
  background-color: #ffffff;
  border-radius: 25px;
  font: 25px Arial;
  line-height: 35px;
  transform: translate(-50%, -50%);
}

.form-sumit-modal p{ color: #3c3b3b; }
.form-sumit-modal .name{ color: #eb6137; }

.form-sumit-modal a{ 
  margin: 35px 0 0;
  padding: 11px 5.2%;
  border: 1px solid transparent;
  background: #eb6137;
  color: #ffffff;
  font: 600 18px Arial;
}

/*======================================
  Get in touch section styling ends here
======================================*/

/*=================================
  main styling ends here for index
==================================*/



/*=======================================
  main styling starts here for Join Us 
=======================================*/

/*=======================================
  banner styling starts here for Join Us 
=======================================*/

.join-us-banner {
  padding: 182px;
  background: url('https://via.placeholder.com/1349x425?text=Join Us') no-repeat center;
  text-indent: -9999px;
}

/*=======================================
  banner styling ends here for Join Us 
=======================================*/




/*=================================
  footer styling  here
=================================*/ 

footer {
  background: #3c3b3b;
  color: #ededed;
  text-align: center;
  font-size: 11.5px; 
}

footer a,
footer p { color: #ededed; }

footer h5 {
  padding: 64px 0 23px 0;
  font: 600 18px Arial;
  text-transform: capitalize;
  text-align: left;
}

.company-info { display: flex; }

.get-in-touch-company {
  display: flex;
  flex-direction: column;
}

.information {
  width: 25%;
  margin-left: 6.5%;
  display: flex;
  flex-direction: column;
}

.get-in-touch-company ul {
  width: 73%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.get-in-touch-company li { padding: 0 0 11px; }
.information li { padding: 0 0 12px; }

.get-in-touch-company a,
.get-in-touch-company address {
  font-size: 11px;
  position: relative;
  text-transform: uppercase;
}

.get-in-touch-company a::after,
.get-in-touch-company address::after {
  float: left;
  font-family: FontAwesome; 
  position: absolute;
  left: -15px;
  text-indent: 0;
}

.information ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.telephone::after { content: '\f095'; }
.infoMail::after { content: '\f0e0'; }
footer p { margin: 25px 0 40px; }
.footer-social-icons { padding-bottom: 27px; }
address{ line-height: 17px; }


.Co-Address::after { 
  content: '\f041'; 
  transform: translateY(-17px);
}

.footer-social-icons a { 
  padding: 3px 3.5px;
  text-indent: -9999px;
  color: #ededed;
}

.footer-social-icons a::after {
  float: right;
  font: 23px FontAwesome;
  text-indent: 0;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {

  .slider{  margin-top: 47px; }
  .slider-controls{ top: 19vw; }
  .slide-content{ top: 17vw; }
  .slide a{ top: 26vw; }
  .wrapper{ width: 70%; }
  .checkbox-group input{ width: 15px; }

}

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {

  nav a:hover{ color: #eb6137; } 
  .header-social-icons a:hover::after{ color: #3c3b3b; }
  .slider-controls a:hover { color: #ffffff; }

  .slide a:hover { 
    background-color: #eb6137;
    color: #ffffff;
  }

  .service-icon a:hover { color: #ff5555; }

  .portfolio-item:hover { 
    opacity: 0.8; 
    transform: translateY(18px);
  }

  .affiliated-partner:hover{
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px #bbbbbb;
  }

  .get-in-touch a:hover { color: #ff5555; }

  #submit:hover { 
    color: #3c3b3b;
    background-color: #ffffff;
  }

  footer a:hover{ color: #eb6137; }

  .harvest-history a:hover{
    color: #ffffff;
    background-color: #eb6137;
  }

}

@media only screen and (max-width: 1024px) {

  .header-social-icons a { padding: 0 14px 0 0; }
  .header-social-icons{
    padding: 4px 30px 0;
    transform: translateX(0);
  }

  .services .wrapper,
  .affiliations .wrapper,
  .wrapper{ width: 80%; }

}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .portfolio::before,
  .portfolio::after{ content: none; }

}

/*media query for 720px starts here*/
@media only screen and (max-width: 720px) {

  .portfolio { flex-wrap: wrap; }
  .portfolio-item { width: 50%; }
  .services .wrapper,
  .affiliations .wrapper,
  .wrapper{ width: 70%; }
  form,
  .company-info { flex-direction: column; }
  .Co-Address::after { transform: translateY(0); }
  .form-groups{ width: 100%; }
  .form-groups:last-of-type { margin: 0;}
  .affiliated-partner { width: 48%; }
  .client { width: 34%; }
  .service-item { flex-basis: 50%; }

  .slide-content{ 
    width: 60%;
    left: 40%;
    top: 140px;
    padding: 8px 2%;
    font-size: 12px;
  }

  .slide img{ min-height: 250px; }
  .slider-controls{ top: 155px; }

  .slide a{ 
    top: 205px; 
    left: 40%;
  }

  .work-with { position: static; }
  .hide-me-mobile{ display: none; }

  .nav-list{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    background-color: #3c3b3b;
  }

  .get-in-touch-company ul { width: 90%; }
  .nav-list li{ padding: 10px; }
  .nav-list a{ color: #efefef; }

  .header-social-icons{
    position: fixed;
    z-index: 4;
    bottom: 50px;
    left: 50%;
    transform: translateX(-77%);
  }

  nav::after{
    content: "\f0c9";
    position: absolute;
    z-index: 4;
    top: 10px;
    right: 10px;
    color: #eb6137;
    font-family: FontAwesome;
    font-size: 28px;
    cursor: pointer;
  }

  .nav-cross::after{ content: "\f00d"; }
}  

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {

  .services .wrapper,
  .affiliations .wrapper,
  .wrapper{ width: 90%; }
  .work-with .wrapper { width: 70%; }
  .client { width: 35%; }

  .slide-content{ 
    width: 85%;
    left: 15%;
    top: 90px;
    padding: 8px 3%;
  }

  .latest-work-modal figure { margin: 90% 0 0 50%; }
  .slide img{ min-height: 170px; }
  .slider-controls{ top: 110px; }

  .slide a{ 
    top: 140px; 
    left: 50%;
    padding: 3.5px 2.6% 7.5px 2.1%;
    transform: translateX(-50%);
  }

}